.contact-button {
  color: #ffb833 !important;
  border-width: 2px;
  border-style: solid;
  border-color: #ffb833;
}
.contact-button:hover{
  color: rgb(255, 255, 255) !important;
  background-color: #ffb833;
}
.u-section-1version .u-sheet-1 {
  min-height: 2434px;
}

.u-section-1version .u-text-1 {
  margin: 41px auto 0;
}

.u-section-1version .u-list-1 {
  grid-template-rows: auto;
  width: 998px;
  margin: 36px auto 0;
}

.u-section-1version .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 2321px;
}

.u-section-1version .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-1 {
  padding: 30px;
}

.u-section-1version .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.01.24_155a4bb6.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-4 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-2 {
  padding: 30px;
}

.u-section-1version .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.16.16_fbc69c89.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-5 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-7 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-3 {
  padding: 30px;
}

.u-section-1version .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.08.33_93e557aa.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-8 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-9 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-10 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-4 {
  padding: 30px;
}

.u-section-1version .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.10.34_506b55ca.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-11 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-13 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-5 {
  padding: 30px;
}

.u-section-1version .u-image-5 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.05.34_39aa74e3.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-14 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-15 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-16 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-6 {
  padding: 30px;
}

.u-section-1version .u-image-6 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.14.24_d8a66cb5.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-17 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-18 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-19 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-7 {
  padding: 30px;
}

.u-section-1version .u-image-7 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.09.22_aced8c51.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-20 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-21 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-22 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-8 {
  padding: 30px;
}

.u-section-1version .u-image-8 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.06.29_8fe9f5b1.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-23 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-24 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-25 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-9 {
  padding: 30px;
}

.u-section-1version .u-image-9 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.07.17_bfce7655.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-26 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-27 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-28 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-10 {
  padding: 30px;
}

.u-section-1version .u-image-10 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.04.08_e40c92e3.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-29 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-30 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-31 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-11 {
  padding: 30px;
}

.u-section-1version .u-image-11 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.03.05_9c6d6307.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-32 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-33 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-34 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-12 {
  padding: 30px;
}

.u-section-1version .u-image-12 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.00.08_d495e0f6.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-35 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-36 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-37 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-13 {
  padding: 30px;
}

.u-section-1version .u-image-13 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.59.03_692056f8.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-38 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-39 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-40 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-14 {
  padding: 30px;
}

.u-section-1version .u-image-14 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.02.14_46136806.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-41 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-42 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-43 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-15 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-15 {
  padding: 30px;
}

.u-section-1version .u-image-15 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.57.53_c4836a4d.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-44 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-45 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-46 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-16 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-16 {
  padding: 30px;
}

.u-section-1version .u-image-16 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.56.11_984d8202.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-47 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-48 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-49 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-17 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-17 {
  padding: 30px;
}

.u-section-1version .u-image-17 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.11.31_4f0f6db7.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-50 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-51 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-52 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1version .u-list-item-18 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-1version .u-container-layout-18 {
  padding: 30px;
}

.u-section-1version .u-image-18 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.12.17_046ad0a1.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-1version .u-text-53 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1version .u-text-54 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1version .u-text-55 {
  font-weight: 400;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1version .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1version .u-repeater-1 {
    min-height: 2184px;
  }

  .u-section-1version .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-12 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-5 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-15 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-6 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-18 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-7 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-21 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-8 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-24 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-9 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-27 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-10 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-30 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-11 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-33 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-12 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-36 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-13 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-39 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-14 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-42 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-15 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-45 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-16 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-48 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-17 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-51 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1version .u-image-18 {
    height: 165px;
    width: 165px;
  }

  .u-section-1version .u-text-54 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1version .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1version .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3308px;
  }

  .u-section-1version .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-1 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-2 {
    width: auto;
  }

  .u-section-1version .u-text-3 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-4 {
    width: auto;
  }

  .u-section-1version .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-2 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-5 {
    width: auto;
  }

  .u-section-1version .u-text-6 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-7 {
    width: auto;
  }

  .u-section-1version .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-3 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-8 {
    width: auto;
  }

  .u-section-1version .u-text-9 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-10 {
    width: auto;
  }

  .u-section-1version .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-4 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-11 {
    width: auto;
  }

  .u-section-1version .u-text-12 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-13 {
    width: auto;
  }

  .u-section-1version .u-container-layout-5 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-5 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-14 {
    width: auto;
  }

  .u-section-1version .u-text-15 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-16 {
    width: auto;
  }

  .u-section-1version .u-container-layout-6 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-6 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-17 {
    width: auto;
  }

  .u-section-1version .u-text-18 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-19 {
    width: auto;
  }

  .u-section-1version .u-container-layout-7 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-7 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-20 {
    width: auto;
  }

  .u-section-1version .u-text-21 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-22 {
    width: auto;
  }

  .u-section-1version .u-container-layout-8 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-8 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-23 {
    width: auto;
  }

  .u-section-1version .u-text-24 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-25 {
    width: auto;
  }

  .u-section-1version .u-container-layout-9 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-9 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-26 {
    width: auto;
  }

  .u-section-1version .u-text-27 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-28 {
    width: auto;
  }

  .u-section-1version .u-container-layout-10 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-10 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-29 {
    width: auto;
  }

  .u-section-1version .u-text-30 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-31 {
    width: auto;
  }

  .u-section-1version .u-container-layout-11 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-11 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-32 {
    width: auto;
  }

  .u-section-1version .u-text-33 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-34 {
    width: auto;
  }

  .u-section-1version .u-container-layout-12 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-12 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-35 {
    width: auto;
  }

  .u-section-1version .u-text-36 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-37 {
    width: auto;
  }

  .u-section-1version .u-container-layout-13 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-13 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-38 {
    width: auto;
  }

  .u-section-1version .u-text-39 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-40 {
    width: auto;
  }

  .u-section-1version .u-container-layout-14 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-14 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-41 {
    width: auto;
  }

  .u-section-1version .u-text-42 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-43 {
    width: auto;
  }

  .u-section-1version .u-container-layout-15 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-15 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-44 {
    width: auto;
  }

  .u-section-1version .u-text-45 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-46 {
    width: auto;
  }

  .u-section-1version .u-container-layout-16 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-16 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-47 {
    width: auto;
  }

  .u-section-1version .u-text-48 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-49 {
    width: auto;
  }

  .u-section-1version .u-container-layout-17 {
    padding-bottom: 23px;
  }

  .u-section-1version .u-image-17 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-50 {
    width: auto;
  }

  .u-section-1version .u-text-51 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-52 {
    width: auto;
  }

  .u-section-1version .u-image-18 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1version .u-text-53 {
    width: auto;
  }

  .u-section-1version .u-text-54 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1version .u-text-55 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1version .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-15 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-18 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-21 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-24 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-27 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-30 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-33 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-36 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-39 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-42 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-45 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-48 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-51 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1version .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1version .u-text-54 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1version .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1version .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-15 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-18 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-21 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-24 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-27 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-30 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-33 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-36 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-39 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-42 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-45 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-48 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-51 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1version .u-text-54 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2versionversion .u-sheet-1 {
  min-height: 625px;
}

.u-section-2version .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2version .u-list-1 {
  grid-template-rows: auto;
  width: 998px;
  margin: 36px auto 35px;
}

.u-section-2version .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 481px;
}

.u-section-2version .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-1 {
  padding: 30px;
}

.u-section-2version .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.01.24_155a4bb6.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-4 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-2 {
  padding: 30px;
}

.u-section-2version .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.16.16_fbc69c89.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-5 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-7 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-3 {
  padding: 30px;
}

.u-section-2version .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.08.33_93e557aa.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-8 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-9 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-10 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-4 {
  padding: 30px;
}

.u-section-2version .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.10.34_506b55ca.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-11 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-13 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-5 {
  padding: 30px;
}

.u-section-2version .u-image-5 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.05.34_39aa74e3.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-14 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-15 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-16 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-6 {
  padding: 30px;
}

.u-section-2version .u-image-6 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.14.24_d8a66cb5.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-17 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-18 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-19 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-7 {
  padding: 30px;
}

.u-section-2version .u-image-7 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.09.22_aced8c51.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-20 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-21 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-22 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-8 {
  padding: 30px;
}

.u-section-2version .u-image-8 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.06.29_8fe9f5b1.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-23 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-24 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-25 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-9 {
  padding: 30px;
}

.u-section-2version .u-image-9 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.07.17_bfce7655.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-26 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-27 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-28 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-10 {
  padding: 30px;
}

.u-section-2version .u-image-10 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.04.08_e40c92e3.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-29 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-30 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-31 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-11 {
  padding: 30px;
}

.u-section-2version .u-image-11 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.03.05_9c6d6307.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-32 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-33 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-34 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-12 {
  padding: 30px;
}

.u-section-2version .u-image-12 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.00.08_d495e0f6.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-35 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-36 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-37 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-13 {
  padding: 30px;
}

.u-section-2version .u-image-13 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.59.03_692056f8.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-38 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-39 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-40 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-14 {
  padding: 30px;
}

.u-section-2version .u-image-14 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.02.14_46136806.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-41 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-42 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-43 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-15 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-15 {
  padding: 30px;
}

.u-section-2version .u-image-15 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.57.53_c4836a4d.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-44 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-45 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-46 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-16 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-16 {
  padding: 30px;
}

.u-section-2version .u-image-16 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at13.56.11_984d8202.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-47 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-48 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-49 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-17 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-17 {
  padding: 30px;
}

.u-section-2version .u-image-17 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.11.31_4f0f6db7.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-50 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-51 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-52 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-list-item-18 {
  margin-top: 0;
  margin-bottom: 0;
  --radius: 45px;
}

.u-section-2version .u-container-layout-18 {
  padding: 30px;
}

.u-section-2version .u-image-18 {
  height: 213px;
  width: 213px;
  background-image: url("images/WhatsAppImage2023-12-27at14.12.17_046ad0a1.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-2version .u-text-53 {
  text-transform: none;
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-2version .u-text-54 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2version .u-text-55 {
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-2version .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2version .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2version .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2version .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-12 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-5 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-15 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-6 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-18 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-7 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-21 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-8 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-24 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-9 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-27 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-10 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-30 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-11 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-33 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-12 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-36 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-13 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-39 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-14 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-42 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-15 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-45 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-16 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-48 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-17 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-51 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2version .u-image-18 {
    height: 165px;
    width: 165px;
  }

  .u-section-2version .u-text-54 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2version .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2version .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2version .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-1 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-2 {
    width: auto;
  }

  .u-section-2version .u-text-3 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-4 {
    width: auto;
  }

  .u-section-2version .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-2 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-5 {
    width: auto;
  }

  .u-section-2version .u-text-6 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-7 {
    width: auto;
  }

  .u-section-2version .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-3 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-8 {
    width: auto;
  }

  .u-section-2version .u-text-9 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-10 {
    width: auto;
  }

  .u-section-2version .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-4 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-11 {
    width: auto;
  }

  .u-section-2version .u-text-12 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-13 {
    width: auto;
  }

  .u-section-2version .u-container-layout-5 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-5 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-14 {
    width: auto;
  }

  .u-section-2version .u-text-15 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-16 {
    width: auto;
  }

  .u-section-2version .u-container-layout-6 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-6 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-17 {
    width: auto;
  }

  .u-section-2version .u-text-18 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-19 {
    width: auto;
  }

  .u-section-2version .u-container-layout-7 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-7 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-20 {
    width: auto;
  }

  .u-section-2version .u-text-21 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-22 {
    width: auto;
  }

  .u-section-2version .u-container-layout-8 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-8 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-23 {
    width: auto;
  }

  .u-section-2version .u-text-24 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-25 {
    width: auto;
  }

  .u-section-2version .u-container-layout-9 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-9 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-26 {
    width: auto;
  }

  .u-section-2version .u-text-27 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-28 {
    width: auto;
  }

  .u-section-2version .u-container-layout-10 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-10 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-29 {
    width: auto;
  }

  .u-section-2version .u-text-30 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-31 {
    width: auto;
  }

  .u-section-2version .u-container-layout-11 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-11 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-32 {
    width: auto;
  }

  .u-section-2version .u-text-33 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-34 {
    width: auto;
  }

  .u-section-2version .u-container-layout-12 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-12 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-35 {
    width: auto;
  }

  .u-section-2version .u-text-36 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-37 {
    width: auto;
  }

  .u-section-2version .u-container-layout-13 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-13 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-38 {
    width: auto;
  }

  .u-section-2version .u-text-39 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-40 {
    width: auto;
  }

  .u-section-2version .u-container-layout-14 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-14 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-41 {
    width: auto;
  }

  .u-section-2version .u-text-42 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-43 {
    width: auto;
  }

  .u-section-2version .u-container-layout-15 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-15 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-44 {
    width: auto;
  }

  .u-section-2version .u-text-45 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-46 {
    width: auto;
  }

  .u-section-2version .u-container-layout-16 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-16 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-47 {
    width: auto;
  }

  .u-section-2version .u-text-48 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-49 {
    width: auto;
  }

  .u-section-2version .u-container-layout-17 {
    padding-bottom: 23px;
  }

  .u-section-2version .u-image-17 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-50 {
    width: auto;
  }

  .u-section-2version .u-text-51 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-52 {
    width: auto;
  }

  .u-section-2version .u-image-18 {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2version .u-text-53 {
    width: auto;
  }

  .u-section-2version .u-text-54 {
    width: auto;
    font-weight: 500;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2version .u-text-55 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2version .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-15 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-18 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-21 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-24 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-27 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-30 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-33 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-36 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-39 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-42 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-45 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-48 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-51 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2version .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2version .u-text-54 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2version .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2version .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-15 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-18 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-21 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-24 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-27 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-30 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-33 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-36 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-39 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-42 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-45 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-48 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-51 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2version .u-text-54 {
    margin-left: 6px;
    margin-right: 6px;
  }
}